#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.25s;
}
.navbar-scrolled {
    background-color: white;
}
.navbar--item {
    margin: 0 1em;
    color: black;
    text-decoration: none;
}
#navbar--left--icon {
    height: 2em;
}